[default]
# Generate a secret key: Use `python -c "import os; print(os.urandom(24).hex())"`
SECRET_KEY = ""  

# You can override other settings from settings.toml here
# For example:
# SPREADSHEET_ID = "your-secret-spreadsheet-id" 